<div class="container" infiniteScroll
     [infiniteScrollDistance]="1"
     [infiniteScrollThrottle]="50"
     (scrolled)="onScroll()">
    <div class="card">
        <div class="card-header">
            <div class="row margin-bottom-20">
                <div class="col-sm-4">
                    <h3>Bands</h3>
                </div>
                <div class="col-sm-4">
                    <app-search [parentComponent]="'band'"></app-search>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-concert-theme float-right" (click)="navigateToNewBand()">Create Band</button>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                <ng-container *ngFor="let band of bands">
                    <div class="col-sm-6 margin-bottom-20" (click)="navigateToBand(band.id)">
                        <div class="card-group">
                            <div class="card card-shadow">
                                <img class="card-img-top"
                                     src="{{band.image_url}}"
                                     alt="Card image cap">
                                <div class="card-img-overlay">
                                    <h5 class="card-title float-right">{{band.country.name}}</h5>

                                    <ng-container *ngFor="let genre of band.genre; let i = index">
                                        <p class="card-text" *ngIf="i<3">{{genre.type}}</p>
                                    </ng-container>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{band.name}}<span
                                            class="float-right">{{band.price + 'dkk'}}</span></h5>
                                    <p class="card-text">{{band.short_description | slice: 0:80 }} ...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
            <ng-container *ngIf="showNoMoreOption">
                <div [ngClass]="lastPage === currentPage ? 'text-center' : 'loader'">
                    <p *ngIf="lastPage === currentPage">There are no more bands</p>
                </div>

            </ng-container>
        </div>
    </div>
</div>
