<div class="card w-100">
    <div class="container">
        <div class="card-body">
            <h3 class="text-center">Register an account to have access to the latest concerts</h3>
            <form class="offset-2 col-8"
                  [formGroup]="registerForm"
                  (keyup.enter)="onRegister(registerForm.value)"
                  (ngSubmit)="onRegister(registerForm.value)">
                <div class="form-group">
                    <label class="form-check-label">Name</label>
                    <input formControlName="name" class="form-control">
                </div>
                <div class="form-group">
                    <label class="form-check-label">Email</label>
                    <input formControlName="email" class="form-control">
                </div>
                <div class="form-group">
                    <label class="form-check-label">Password</label>
                    <input formControlName="password" class="form-control">
                </div>
                <button type=submit class="btn btn-primary authentication-button">Register</button>
            </form>
        </div>
    </div>
</div>