<div class="container" *ngIf="concert">
    <div class="card">
        <div class="card-header">
            <h3 class="margin-bottom-40">{{concert.name}}
                <button *ngIf="!hideBuyTicket" class="btn btn-concert-theme float-right"><i
                        class="fas fa-shopping-cart"></i> Buy Ticket
                </button>
            </h3>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-sm-6 margin-bottom-20">
                    <div class="card card-shadow">
                        <img class="card-img-top"
                             src="{{concert.poster_url}}"
                             alt="Card image cap">
                    </div>
                </div>
                <div class="col-6">
                    <h5>{{band.name}}</h5>
                    <p><strong>Founded at: </strong> {{band.founded_at | date:'longDate'}} </p>
                    <p><strong>Band Manager: </strong> {{admin.name}}</p>
                    <h6> Description</h6>
                    <p>{{band.long_description}}</p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-12">
                    <h5>Concert description</h5>
                    <p>{{concert.long_description}}</p>
                    <p><strong>Available Tickets: </strong> {{concert.available_tickets}}</p>
                    <p><strong>Concert Starts: </strong> {{concert.concert_start|date:'medium'}}</p>
                </div>
            </div>
            <ng-container *ngIf="space">
                <div class="row mt-3">
                    <div class="col-sm-12">
                        <h5>Space Description</h5>
                        <p>{{space.description}}</p>
                        <agm-map [latitude]="latitude" [longitude]="longitude">
                            <agm-marker [latitude]="latitude" [longitude]="longitude">
                                <agm-info-window>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h5 class="card-text">{{space.name}}</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p class="card-text">{{space.description}}</p>
                                        </div>
                                    </div>
                                </agm-info-window>
                            </agm-marker>
                        </agm-map>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="reviews">
                <div class="row mt-3">
                    <div class="col-sm-12">
                        <h5 class="mb-4">Reviews
                            <button *ngIf="!enableReviewForm" class="btn btn-sm btn-concert-theme float-right"
                                    (click)="showReviewsForm()">
                                Add Review
                            </button>
                        </h5>
                        <app-concert-reviews (hideForm)="hideForm($event)"
                                             [concert]="concert"
                                             *ngIf="enableReviewForm">
                        </app-concert-reviews>
                        <ng-container *ngFor="let review of reviews">
                            <div class="card mb-2">
                                <div class="card-header">
                                    <h3>{{review.title}}
                                        <button *ngIf="review.user.id == loggedInUser.id"
                                                class="btn btn-sm btn-info float-right">Edit review
                                        </button>
                                    </h3>
                                </div>
                                <div class="card-body">
                                    <p>{{review.message}}</p>
                                </div>
                                <div class="card-footer">
                                    <span class="float-right">Reviewed by : <span (click)="goToUserProfile(review.user)"
                                                                                  class="font-weight-bold">{{review.user.name}}</span></span>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
