<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="row margin-bottom-20">
                <div class="col-sm-4">
                    <h3>Create Concert</h3>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                <form [formGroup]="concertForm" (ngSubmit)="onSubmit(concertForm.value)" class=" offset-1 col-sm-10">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <input type="file" class="d-none" (change)="onFileSelected($event)" #inputFile>
                            <button class="btn btn-primary" (click)="inputFile.click()">Upload Image</button>
                            <span *ngIf="selectedFile" class="justify-content-end"> {{selectedFile.name}} <i
                                    style="color:#5CB85C"
                                    class="fas fa-check"></i></span>
                        </div>

                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <input type="text" formControlName="name" class="form-control" placeholder="Name" id="name">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6">
                            <input type="number" formControlName="total_tickets" class="form-control"
                                   placeholder="Number of tickets">
                        </div>
                        <div class="col-sm-6">
                            <input type="text"
                                   placeholder="Concert Start At"
                                   class="form-control"
                                   bsDatepicker
                                   formControlName="concert_start"
                                   [bsConfig]="{ dateInputFormat: 'MMMM Do YYYY, h:mm:ss a' }">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <textarea type="text" class="form-control" formControlName="short_description"
                                      placeholder="Write a short description about the band.."></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <textarea type="text" class="form-control" formControlName="long_description"
                                      placeholder="Write a short description about the band.."></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <button class="btn cancel-button float-right"><i class="fas fa-times"></i> Cancel</button>
                        </div>
                        <div class="col-sm-6">
                            <button type="submit" class="btn create-button float-left"><i class="fas fa-check"></i>
                                Create Concert
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
