/* You can add global styles to this file, and also import other style files */
@import "assets/css/typos";
@import "assets/css/color";
@import "assets/css/buttons";
@import "assets/css/extras";
@import "~@ng-select/ng-select/themes/default.theme.css";
* {
  font-family: 'Roboto Mono', monospace;
}

body {
  justify-content: center;
}

.container {
  margin-top: 20px;
}

app-search {
  width: 100%
}

.card-header {
  background-color: white !important;
  //color: #ffffff;
}

.card-footer {
  background-color: white !important;
  //color: #ffffff;
}

.authentication-button {
  width: 20%;
  border: none !important;
  margin-left: 40%;
  background-color: $hibiscus !important;
}
