<div class="container" infiniteScroll
     [infiniteScrollDistance]="1"
     [infiniteScrollThrottle]="50"
     (scrolled)="onScroll()">
    <div class="card">
        <div class="card-header">
            <div class="row margin-bottom-20">
                <div class="col-sm-4">
                    <h3>Concerts</h3>
                </div>
                <div class="col-sm-4">
                    <app-search [parentComponent]="'concert'"></app-search>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-concert-theme float-right" (click)="navigateToNewConcert()">Create Concert
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <ng-container *ngFor="let concert of concerts">
                    <div class="col-sm-4 margin-bottom-20" (click)="navigateToConcert(concert.id)">
                        <div class="card card-shadow">
                            <img class="card-img-top"
                                 src="{{concert.poster_url}}"
                                 alt="Card image cap">
                            <div *ngIf="concert.band" class="card-img-overlay">
                                <h4 class="card-title">Artist</h4>
                                <h5 class="card-title">{{concert.band.name}}</h5>
                                <p class="card-text"></p>
                                <p class="card-text">Date: {{concert.concert_start | date:'fullDate'}}</p>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title medium-font">{{concert.name}}<span class="float-right"></span>
                                </h5>
                                <p class="card-text">{{concert.short_description | slice : 0:80}} ...</p>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
            <ng-container *ngIf="showNoMoreOption">
                <div [ngClass]="lastPage === currentPage ? 'text-center' : 'loader'">
                    <p *ngIf="lastPage === currentPage">There are no more concerts</p>
                </div>

            </ng-container>
        </div>
    </div>
</div>
