<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="row margin-bottom-20">
                <div class="col-sm-4">
                    <h3>Create Band</h3>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                <form class="offset-1 col-sm-10"
                      [formGroup]="bandForm"
                      (ngSubmit)="onSubmit(bandForm.value)">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <input type="file" class="d-none" (change)="onFileSelected($event)" #inputFile>
                            <button class="btn btn-primary" (click)="inputFile.click()">Upload Image</button>
                            <span *ngIf="selectedFile" class="justify-content-end"> {{selectedFile.name}} <i
                                    style="color:#5CB85C"
                                    class="fas fa-check"></i></span>
                        </div>

                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                           <textarea type="text" class="form-control" formControlName="band_requests"
                                     placeholder="Write what requirements the band has"></textarea>
                            <app-display-field-errors *ngIf="isFieldInvalid('band_requests')"
                                                      [displayError]="isFieldInvalid('band_requests')"
                                                      [messageError]="'Write about the band requests'">

                            </app-display-field-errors>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <input type="text" formControlName="name" class="form-control" placeholder="Name" id="name">
                            <app-display-field-errors *ngIf="isFieldInvalid('name')"
                                                      [displayError]="isFieldInvalid('name')"
                                                      [messageError]="'Name is required'">

                            </app-display-field-errors>
                        </div>
                        <div class="col-sm-6">
                            <select [formControlName]="country_id" class="form-control"
                                    (change)="setCountryFormControl($event.target.value)">
                                <option value="">Select Country</option>
                                <option *ngFor="let country of countries" value="{{country.id}}">{{country.name}}
                                </option>
                            </select>
                            <app-display-field-errors *ngIf="isFieldInvalid('country_id')"
                                                      [displayError]="isFieldInvalid('country_id')"
                                                      [messageError]="'Country is required'">

                            </app-display-field-errors>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6">
                            <input type="number" formControlName="no_members" class="form-control"
                                   placeholder="Number of Members">
                            <app-display-field-errors *ngIf="isFieldInvalid('no_members')"
                                                      [displayError]="isFieldInvalid('no_members')"
                                                      [messageError]="'Specify the number of members'">

                            </app-display-field-errors>
                        </div>
                        <div class="col-sm-6">
                            <input type="text"
                                   placeholder="Founded At"
                                   class="form-control"
                                   formControlName="founded_at"
                                   bsDatepicker>
                            <app-display-field-errors *ngIf="isFieldInvalid('founded_at')"
                                                      [displayError]="isFieldInvalid('founded_at')"
                                                      [messageError]="'Founded Year is required'">

                            </app-display-field-errors>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <textarea type="text" class="form-control" formControlName="short_description"
                                      placeholder="Write a short description about the band.."></textarea>
                            <app-display-field-errors *ngIf="isFieldInvalid('short_description')"
                                                      [displayError]="isFieldInvalid('short_description')"
                                                      [messageError]="'Write a short description about the band'">

                            </app-display-field-errors>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <textarea type="text"
                                      class="form-control"
                                      placeholder="Write a long description about the band.."
                                      formControlName="long_description"></textarea>
                            <app-display-field-errors *ngIf="isFieldInvalid('long_description')"
                                                      [displayError]="isFieldInvalid('long_description')"
                                                      [messageError]="'Write a long description about the band'">

                            </app-display-field-errors>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <input type="number" class="form-control" formControlName="price"
                                   placeholder="Band Price">
                            <app-display-field-errors *ngIf="isFieldInvalid('price')"
                                                      [displayError]="isFieldInvalid('price')"
                                                      [messageError]="'Band Price is required'">

                            </app-display-field-errors>
                        </div>
                        <div class="col-sm-6">
                            <ng-select [items]="genres"
                                       bindLabel="type"
                                       bindValue="id"
                                       [multiple]="true"
                                       (change)="setGenreFormControl($event)"
                                       placeholder="Select Genres">
                            </ng-select>
                            <app-display-field-errors *ngIf="isFieldInvalid('genres')"
                                                      [displayError]="isFieldInvalid('genres')"
                                                      [messageError]="'Country is required'">

                            </app-display-field-errors>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <button class="btn cancel-button float-right"><i class="fas fa-times"></i> Cancel</button>
                        </div>
                        <div class="col-sm-6">
                            <button type="submit" class="btn create-button float-left"><i class="fas fa-check"></i>
                                Create Band
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
